@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Apply Work Sans to paragraphs and all text elements */
p,
span,
div,
a,
li,
td,
th,
label,
input,
textarea,
select,
button {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Apply Playfair to all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.playfair-italic {
  font-family: "Playfair", serif;
  font-style: italic;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

button {
  cursor: pointer;
}